<!DOCTYPE html>
<html lang="pt-br">

<head
	th:replace="/fragments/head_fragment :: head(title=${author.name} + ' - Library System', scriptPath='/script/script_admin_home.js', stylePath='/style/style_author_details.css')">
</head>

<body>

	<div th:insert="/fragments/menu_admin :: menu"></div>

	<div class="container">


		<div class="alert text-white bg-success alert-dismissible fade show border-0 rounded-0 shadow" role="alert"
			th:if="${saved == true}">
			<i class="bi bi-check-circle-fill me-2"></i><strong>Sucesso! </strong>Autor atualizado com sucesso!
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>

		<div class="card border-0 p-5 card-info shadow">

			<h2><i class="bi bi-person-bounding-box me-3"></i><span th:text="${author.name}"></span></h2>


			<div>

				<h5 class="my-3">
					<i class="bi bi-globe2 me-3"></i>
					<span th:text="${author.nationality}"></span>
				</h5>


				<div>
					<h5 class="mt-5">
						<i class="bi bi-book me-3"></i>
						Livros:
					</h5>

					<ul>
						<li th:each="book : ${author.books}">
							<a class="text-dark" th:text="${book.title}"
								th:href="@{/book/info/{id}(id = ${book.id})}"></a>
						</li>
					</ul>


				</div>


				<h5 class="mt-5">
					<i class="bi bi-info-circle me-3"></i>
					Biografia:
				</h5>


				<p th:text="${author.biography}"></p>


				<a class="btn btn-outline-secondary mt-3" th:href="@{/author/edit(id = ${author.id})}">
					<i class="bi bi-pencil-square me-2"></i>Editar
				</a>

			</div>

		</div>


	</div>

</body>


</html>