<!DOCTYPE html>
<html lang="pt-br">

<head
	th:replace="/fragments/head_fragment :: head(title='Listar autores - Library System', scriptPath='/script/script_admin_home.js', stylePath='/style/style_list_authors.css')">
</head>

<body>

	<div th:insert="/fragments/menu_admin :: menu"></div>

	<div class="container mb-4">
		<form action="/book/listAuthors/search" th:action="@{/author/listAuthors/search}">
			<div class="input-group input-group border rounded-pill">
				<input id="inputSearch" type="text" class="form-control border-0 rounded-pill"
					aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" th:value="${search}" name="search" th:name="search">

				<button type="submit" class="text-decoration-none input-group-text border-0 rounded-pill bg-white">
					<span id="inputGroup-sizing-lg"><i class="bi bi-search"></i></span>
				</button>
			</div>
		</form>
	</div>

	<div th:if="${listAuthor.empty}">

		<div>
			<div class="text-center mb-4 text-muted">
				<h3>Oops! Nada por aqui ainda!</hh3>
			</div>
			<div class="d-flex justify-content-center">
				<img src="/assets/icons/coffee.svg" alt="icon list empty" class="img-fluid w-25">
			</div>
		</div>

	</div>

	<div th:if="${!listAuthor.empty}">

		<div class="container mt-4">
			<div>

				<table class="table mt-4 table-striped table-hover table-bordered rounded-top">
					<thead>
						<tr>
							<th scope="col">Nome</th>
							<th scope="col">Nacionalidade</th>
							<th scope="col">Livros</th>
							<th scope="col">Info</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="author : ${listAuthor}">
							<td th:text="${author.name}">id</td>
							<td th:text="${author.nationality}">Title</td>
							<td th:text="45">Publish Company</td>
							<td class="text-center">
								<a class="btn btn-outline-secondary" href="/book/listAuthors/author/"
									th:href="@{/author/info/{id}(id = ${author.id})}">
									<i class="bi bi-info-circle"></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>

			</div>

		</div>

		<nav aria-label="Page navigation example" id="nav-page">
			<ul class="pagination justify-content-center">
				<li class="page-item disabled">
					<a class="page-link">Previous</a>
				</li>
				<li class="page-item"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item">
					<a class="page-link" href="#">Next</a>
				</li>
			</ul>
		</nav>
	</div>
</body>

</html>