@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    box-sizing: border-box;
}


body {
    font-family: 'Quicksand', Helvetica, sans-serif;
    margin: 0;
}

.card-info{
    border-radius: 1rem;
  }