@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    box-sizing: border-box;
  }
  
 
  body {
    font-family: 'Quicksand', Helvetica, sans-serif;
    margin: 0;
    position: relative;
  }


  .card-info{
    border-radius: 1rem;
  }


  .wrapper {
    overflow: auto;
    height: 90vh;
    width: 100%;
  }

  .content {
    overflow-y: auto;
  }


.form-input input {
  display:none;
}

.form-input img{
  width: 100%;
}

.div-author{
  overflow: scroll;
  max-height: 210px;
}

.list-author-item{
  background-color: #2f5061;
  color: white;
}

#btn-edit-author{
	background-image: url('/assets/icons/pencil-square.svg');
}
