<div th:fragment="formBook (formAction)" class="container-xxl px-5 mt-4">

	<div class="alert text-white bg-danger alert-dismissible fade show border-0 rounded-0 shadow" role="alert"
		th:if="${#fields.hasErrors('${book.authors}')}">
		<i class="bi bi-exclamation-diamond-fill me-2"></i><strong>Oops! </strong>Por favor, insira
		autores para esse livro!
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

	<div class="alert text-white bg-danger alert-dismissible fade show border-0 rounded-0 shadow" role="alert"
		th:if="${errorAuthorId}">
		<i class="bi bi-exclamation-diamond-fill me-2"></i><strong>Oops! </strong> Erro ao adicionar esse autor!
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

	<div class="alert text-white bg-success alert-dismissible fade show border-0 rounded-0 shadow" role="alert"
		th:if="${saved == true}">
		<i class="bi bi-check-circle-fill me-2"></i><strong>Sucesso! </strong>Livro Registrado com sucesso!
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

	<form action="" method="post" th:action="@{/book/register}" th:object="${book}"
		onsubmit="return submitForm(this)" enctype="multipart/form-data">
		<div class="row align-items-md-stretch g-5">

			<div class="col-md-4">
				<div class="row p-5 card-info shadow text-center bg-white">
					<div class="form-input text-center">
						<div class="preview">
							<div class="d-flex justify-content-center">
								<img id="file-ip-1-preview" class="img-fluid "
									src="/assets/book-templates/template_upload_cloak.png" onchange="imageChanged()">
							</div>

						</div>

						<!-- image upload -->
						<input type="file" id="file-ip-1" accept="image/*" onchange="showPreview(event);"
							name="imageUpload">
						<label for="file-ip-1" class="btn btn-outline-primary mt-4"><i
								class="bi bi-upload me-2"></i>Selecione a
							imagem</label>

					</div>

				</div>

			</div>

			<div class="col-md-8 bg-white card-info shadow pt-3 px-0">

				<div class="wrapper">
					<div class="content">
						<div class="pt-4 px-4 pb-0">
							<div class="mb-3">
								<label class="form-label" for="inputTitle">Título do livro:</label>
								<input type="text" name="inputTitle" class="form-control rounded-pill"
									th:field="*{title}" th:errorclass="is-invalid">
								<div class="invalid-feedback" th:errors="*{title}"></div>
							</div>

							<div class="row g-3">

								<div class="col-md-5" th:if="${newLang == true}">

									<label for="inputLanguage" class="form-label">Idioma:</label>
									<div class="input-group">
										<input list="lang" class="form-control rounded-pill"
											th:field="*{language.language}" th:errorclass="is-invalid">
										<button class="btn rounded-circle ms-2 p-0 text-muted" type="submit"
											name="cancelNewLanguage">
											<i class="bi bi-x-circle fs-5"></i>
										</button>
									</div>
									<div class="invalid-feedback" th:errors="*{language.language}"></div>

								</div>


								<div class="col-md-5" th:if="${newLang == null || newLang != true}">

									<label for="inputLanguage" class="form-label">Idioma:</label>

									<div class="input-group">

										<select th:field="*{language.id}" th:errorclass="is-invalid"
											class="form-control rounded-pill">
											<option value="">Selecione...</option>
											<option th:each="languageDB : ${allLanguages}"
												th:text="${languageDB.language}" th:value="${languageDB.id}"></option>
										</select>
										<button class="btn rounded-circle ms-2 p-0 text-muted" type="submit"
											name="newLanguage">
											<i class="bi bi-plus-circle fs-5"></i>
										</button>
									</div>
									<div id="emailHelp" class="form-text">Para nova linguagem, clique no botão ao lado.
									</div>
									<div class="invalid-feedback" th:errors="*{language.id}">
									</div>
	
								</div>
								
								<input type="hidden" th:field="*{id}">

								<div class="col-md-5">
									<label for="inputPublishCompany" class="form-label">Editora:</label>
									<input type="text" class="form-control rounded-pill" id="inputPublishCompany"
										th:field="*{publishCompany}" th:errorclass="is-invalid">
									<div class="invalid-feedback" th:errors="*{publishCompany}"></div>
								</div>
								<div class="col-md-2">
									<label for="inputYearPublish" class="form-label">Ano de lanç.:</label>
									<input type="text" class="form-control rounded-pill" id="inputYearPublish"
										th:field="*{year}" th:errorclass="is-invalid">
									<div class="invalid-feedback" th:errors="*{year}"></div>
								</div>

								<div class="col-md-3">
									<label for="inputEdition" class="form-label">ISBN:</label>
									<input type="text" class="form-control rounded-pill" id="inputEdition"
										th:field="*{isbn}" th:errorclass="is-invalid">
									<div class="invalid-feedback" th:errors="*{isbn}"></div>
								</div>

								<div class="col-md-2">
									<label for="inputEdition" class="form-label">Edição:</label>
									<input type="text" class="form-control rounded-pill" id="inputEdition"
										th:field="*{edition}" th:errorclass="is-invalid">
									<div class="invalid-feedback" th:errors="*{edition}"></div>
								</div>

								<div class="col-md-2">
									<label for="inputPages" class="form-label">Páginas</label>
									<input type="text" class="form-control rounded-pill" id="inputPages"
										th:field="*{numberPages}" th:errorclass="is-invalid">
									<div class="invalid-feedback" th:errors="*{numberPages}"></div>
								</div>

								<div class="col-md-2">
									<label for="inputStorage" class="form-label">Qnt. estoque:</label>
									<input type="text" class="form-control rounded-pill" id="inputStorage"
										th:field="*{inventoryQuantity}" th:errorclass="is-invalid">
									<div class="invalid-feedback" th:errors="*{inventoryQuantity}"></div>
								</div>

								<div class="col-md-3">
									<label for="inputShelfCode" class="form-label">Nº prateleira:</label>
									<input type="text" class="form-control rounded-pill" id="inputShelfCode"
										th:field="*{shelfCode}" th:errorclass="is-invalid">
									<div class="invalid-feedback" th:errors="*{shelfCode}"></div>
								</div>

								<div class="mb-3">
									<label for="description" class="form-label">Descrição:</label>
									<textarea class="form-control" id="description" rows="3" th:field="*{description}"
										th:errorclass="is-invalid"></textarea>
									<div class="invalid-feedback" th:errors="*{description}"></div>
								</div>

							</div>
						</div>

						<div class="w-100 mt-0 p-4">


							<div>
								<div class="row p-3 bg-white card-info shadow mb-3"
									th:each="author,rowStat : *{authors}" id="divAuthors">

									<h5>Dados do Autor <span th:text="${rowStat.count}"></span>:</h5>

									<div th:if="*{authors[__${rowStat.index}__].id} != null">

										<input type="hidden" th:field="*{authors[__${rowStat.index}__].id}">
										<input type="hidden" th:field="*{authors[__${rowStat.index}__].nationality}">
										<input type="hidden" th:field="*{authors[__${rowStat.index}__].biography}">

										<div class="alert bg-primary border-0 py-2 rounded-pill text-white alert-dismissible fade show"
											role="alert">
											<input class="form-control fw-bold text-white bg-transparent border-0 p-0"
												type="text" value="Disabled readonly input"
												aria-label="Disabled input example" readonly
												th:field="*{authors[__${rowStat.index}__].name}">

											<a th:href="@{/author/edit(id=*{authors[__${rowStat.index}__].id})}"
												class="btn-close me-5 bg-white rounded-circle p-2 m-1"
												id="btn-edit-author">
											</a>

											<button type="submit" name="removeAuthor" th:value="${rowStat.index}"
												class="btn-close bg-white rounded-circle p-2 m-1"></button>
										</div>
									</div>

									<div class="col-md-6" th:if="*{authors[__${rowStat.index}__].id} == null">
										<label for="inputNameAuthor" class="form-label">Nome do autor:</label>
										<input type="text" class="form-control rounded-pill" id="inputNameAuthor"
											th:field="*{authors[__${rowStat.index}__].name}" th:errorclass="is-invalid">
										<div class="invalid-feedback" th:errors="*{authors[__${rowStat.index}__].name}">
										</div>

									</div>

									<div class="col-md-6" th:if="*{authors[__${rowStat.index}__].id} == null">
										<label for="inputNationality" class="form-label">Nacionalidade:</label>
										<input type="text" class="form-control rounded-pill"
											th:field="*{authors[__${rowStat.index}__].nationality}"
											th:errorclass="is-invalid" id="inputNationality">
										<div class="invalid-feedback"
											th:errors="*{authors[__${rowStat.index}__].nationality}">
										</div>
									</div>

									<div class="mb-3" th:if="*{authors[__${rowStat.index}__].id} == null">
										<label for="iputBiography" class="form-label">Biografia:</label>
										<textarea class="form-control" id="iputBiography" rows="4"
											th:field="*{authors[__${rowStat.index}__].biography}"
											th:errorclass="is-invalid"></textarea>
										<div class="invalid-feedback"
											th:errors="*{authors[__${rowStat.index}__].biography}">
										</div>
									</div>

									<div class="col-12 pb-4 mt-3" th:if="*{authors[__${rowStat.index}__].id} == null">
										<div class="d-grid gap-2 col-5 mx-auto">
											<button type="submit" name="removeAuthor" th:value="${rowStat.index}"
												class="btn btn-danger" onclick="btnRemoveAuthorCliked()">
												<i class="bi bi-trash me-2"></i>
												Remover autor</button>
										</div>
									</div>

								</div>
							</div>
						</div>

						<div class="col-12 pb-4 row">

							<div class="col">
								<div class="d-grid gap-2 col-9 ms-auto">
									<button type="submit" name="addAuthor" class="btn btn-primary fw-bolder">
										<i class="bi bi-plus-circle me-2"></i>
										Adicionar um novo autor</button>
								</div>
							</div>

							<div class="col">
								<div class="d-grid gap-2 col-9 me-auto">
									<!-- Button trigger modal -->
									<button type="button" class="btn btn-outline-primary fw-bolder"
										data-bs-toggle="modal" data-bs-target="#staticBackdrop">
										<i class="bi bi-plus-circle-fill me-2"></i>
										Adicionar um autor existente
									</button>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>


		</div>

		<div class="col-12 pb-4">
			<div class="d-grid gap-2 col-6 mx-auto">
				<button class="btn btn-primary mt-4 fw-bolder" type="submit" name="send">
					<i class="bi bi-save me-2"></i>
					Salvar!</button>
			</div>
		</div>




		<!-- Modal -->
		<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
			aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="staticBackdropLabel">Procurar um autor:</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="w-100">
							<label for="inputSearchAuthor" class="form-label">Pesquisa:</label>
							<input type="text" class="form-control" id="inputSearchAuthor" th:name="search">
						</div>
						<div class="mt-3 text-end">
							<button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
							<button type="submit" name="searchAuthor" class="btn btn-primary">
								<i class="bi bi-search me-2"></i>
								Pesquisar</button>
						</div>
					</div>

				</div>
			</div>
		</div>


		<div id="modalSearchAuthor" th:if="${searchAuthorObj}">
			<div th:insert="/fragments/table_search_author_modal :: searchAuthorModal">
			</div>
		</div>

	</form>

</div>