<div th:fragment="menu">
	<nav class="navbar navbar-expand-lg navbar-light border-bottom shadow mb-5" id="menu">
		<div class="container-fluid">
			<button class="navbar-toggler " type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarTogglerDemo01">

				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active ms-5" aria-current="page" href="/" th:href="@{/}"><img
								src="/assets/icons/logo_100_white.png" alt=""></a>
					</li>

				</ul>
				<div class="d-flex">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0" id="navLinks">
					
						<li class="nav-item">
							<a class="nav-link" href="/" th:href="@{/book/register}">Registrar novo Livro</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#" th:href="@{/book/listBooks}">Listar livros</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#" th:href="@{/author/listAuthors}">Listar autores</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/" th:href="@{/book/editBook}">Editar Livro</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#" th:href="@{/book/deleteBook}">Deletar livro</a>
						</li>
						<li class="nav-item">
							<a class="btn rounded" href="/" th:href="@{/}" id="btnLogin">Menu Admin</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
</div>