<div th:fragment="tableBook" class="container-xxl px-5 mt-4">
	<div>
		<div class="container mb-4">
			<form action="/book" th:action="@{/book/listBooks/search}">
				<div class="input-group input-group border rounded-pill">
					<input id="inputSearch" type="text" class="form-control border-0 rounded-pill"
						aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" th:value="${search}"
						th:name="search">

					<button type="submit" class="text-decoration-none input-group-text border-0 rounded-pill bg-white">
						<span id="inputGroup-sizing-lg"><i class="bi bi-search"></i></span>
					</button>
				</div>
			</form>
		</div>


		<div th:if="${listBook.empty}">

			<div>
				<div class="text-center mb-4 text-muted">
					<h3>Oops! Nada por aqui ainda!</h3>
				</div>
				<div class="d-flex justify-content-center">
					<img src="/assets/icons/coffee.svg" alt="icon list empty" class="img-fluid w-25">
				</div>
			</div>

		</div>

		<div th:if="${!listBook.empty}">

			<div class="container mt-4">
				<div>

					<table class="table mt-4 table-striped table-hover table-bordered rounded-top">
						<thead>
							<tr>
								<th scope="col">ISBN.</th>
								<th scope="col">Título do Livro</th>
								<th scope="col">Autor</th>
								<th scope="col">Editora</th>
								<th scope="col">Ação</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="book : ${listBook}">
								<td th:text="${book.isbn}">id</td>
								<td th:text="${book.title}">Title</td>
								<td>
									<div th:each="author : ${book.authors}" class="text-truncate">
										<a href="" th:text="${author.name}"
											th:href="@{/author/info/{id}(id = ${author.id})}">authors</a>
									</div>
								</td>
								<td th:text="${book.publishCompany}">Publish Company</td>
								<td class="text-center">
									<a class="btn btn-outline-secondary" href="/book/listBooks/book/"
										th:href="@{'/book/info/' + ${book.id}}">
										<i class="bi bi-info-circle"></i>
									</a>

									<a class="btn btn-outline-primary" href="/book/listBooks/book/"
										th:href="@{'/book/edit/' + ${book.id}}">
										<i class="bi bi-pencil-square"></i>
									</a>

									<a class="btn btn-outline-danger" href="/book/listBooks/book/"
										onclick="return confirm('Deseja realmente DELETAR livro?')"
										th:href="@{'/book/delete/' + ${book.id}}">
										<i class="bi bi-trash"></i>
									</a>

								</td>
							</tr>
						</tbody>
					</table>

				</div>

			</div>

			<nav aria-label="Page navigation example" id="nav-page">
				<ul class="pagination justify-content-center">
					<li class="page-item disabled">
						<a class="page-link">Previous</a>
					</li>
					<li class="page-item"><a class="page-link" href="#">1</a></li>
					<li class="page-item"><a class="page-link" href="#">2</a></li>
					<li class="page-item"><a class="page-link" href="#">3</a></li>
					<li class="page-item">
						<a class="page-link" href="#">Next</a>
					</li>
				</ul>
			</nav>
		</div>

	</div>

</div>